<!DOCTYPE html>

<html ng-app="proba">
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="/">
    <title>Запази ми - администраторски панел</title>
    @Styles.Render("~/Content/css")
    <meta name="description" content="The description of my page" />
</head>
<body ng-controller="TotalController" ng-cloak>
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Запази ми</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: (isActive('/Index') || isActive('/'))}"><a ui-sref="Index">Начало <span class="sr-only">(current)</span></a></li>
                    <li ng-hide="!authentication.isAuth || (!authentication.isInRole.isSalonAdmin && authentication.isAuth)" ng-class="{ active: isActive('/Reservations')}"><a ui-sref="Reservations">Резервации <span class="badge badge-important">{{counts.resCountForButton}}</span></a></li>
                    <li ng-hide="!authentication.isAuth || (!authentication.isInRole.isSalonAdmin && authentication.isAuth)" ng-class="{ active: isActive('/Settings')}"><a ui-sref="Settings">Данни</a></li>
                    <li ng-hide="!authentication.isAuth || (!authentication.isInRole.isSalonAdmin && authentication.isAuth)" ng-class="{ active: isActive('/Schedule')}"><a ui-sref="Schedule">График</a></li>
                    <li><a ui-sref="Info">За панела</a></li>
                    <li ng-show="authentication.isInRole.isAdmin && authentication.isAuth" ng-class="{ active: isActive('/Users')}"><a ui-sref="Users">Потребители</a></li>
                    
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="Register" ng-hide="authentication.isAuth">Ригистрация</a></li>
                    <li class="dropdown" ng-hide="!authentication.isAuth">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Моя акаунт <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="ChangePassword">Смяна на парола</a></li>
                            <li class="divider"></li>
                            <li><a href="#" ng-click="logOut()">Изход</a></li>
                        </ul>
                    </li>
                    <li ng-hide="authentication.isAuth"><a ui-sref="Login">Вход</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div ui-view="main" class="view-slide-in"></div>
    </div>
    @*<script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-ui-router.js"></script>
        <script src="~/Scripts/app.js"></script>*@
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-r")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/modules")
    @Scripts.Render("~/bundles/controllers")
    @Scripts.Render("~/bundles/services")
    @*<script src="https://rawgit.com/aguirrel/ng-currency/master/src/ng-currency.js"></script>*@
    <script type="text/javascript">
        $(document).on('click', '.navbar-collapse.in', function (e) {
            if ($(e.target).is('a')) {
                $(this).collapse('hide');
            }
        });
    </script>
</body>
</html>
